{% extends 'base.html' %}
{% load thumbnail %}


{% block content %}
<section>
    <div class="section-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-3 pt-3">
                    {% include 'account/sidebar.html' %}
                </div>
                <div class="col-9 pt-3">
                    <h2>События</h2>
                    <div class="my-3">
                        <form class="form-inline">
                            <div class="form-group">
                                <a class="btn btn-success"
                                href="{% url 'profile_event_create' %}">Создать событие</a>
                            </div>
                        </form>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Название</th>
                                <th scope="col">Дата и время</th>
                                <th scope="col">Тип события</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in object_list %}
                            <tr>
                                <th>
                                    <a href="{% url 'profile_event_detail' event.id %}">{{ event.template.name }}</a>
                                </th>
                                <td>{{ event.datetime }}</td>
                                <td>{{ event.template.get_type_display }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <p>{{ item.id }}, {{ item.datetime }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}