<div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action"
            href="{% url 'profile' %}">Мой профиль</a>
        {% if user.is_volunteer %}
        <a class="list-group-item list-group-item-action"
            href="{% url 'profile_event_list' %}">События</a>
        {% endif %}
    </div>
</div>
<div class="mt-4">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action"
            href="{% url 'profile_settings' %}">Настройки профиля</a>
    </div>
</div>