{% extends "registration/registration_base.html" %}
{% load i18n betterforms_tags widget_tweaks %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<section>
    <div class="section-wrapper">
        <div style="width: 340px; margin: 0 auto;">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="mb-3 font-weight-normal">Регистрация</h4>
                    <form method="post"
                        action="">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            {% if field|is_checkbox %}
                             <div class="custom-control custom-checkbox">
                                {% if field.name == 'is_volunteer' and request.GET.is_volunteer %}
                                {% render_field field class+="custom-control-input" checked=True %}
                                {% else %}
                                {% render_field field class+="custom-control-input" %}
                                {% endif %}
                                <label class="custom-control-label"
                                    for="{{ field.auto_id }}">{{ field.label }}</label>
                            </div>
                            {% else %}
                                {{ field.label_tag }}
                                {% render_field field class+="form-control" %}
                            {% endif %}
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <input type="hidden" name="next" value="{{ next }}" />
                        <button class="btn btn-block btn-primary"
                                type="submit">{% trans 'Submit' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
