{% extends 'base.html' %}
{% load thumbnail widget_tweaks %}


{% block content %}
<style>
    section {
        position: relative;
    }
    .section-event-detail-header_bd-image h1 {
        color: #ffffff;
    }
    .section-bg {
        background-size: cover;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -2;
    }
    .section-bg:before {
        background: rgba(0, 0, 0, 0.6);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
</style>

<section class="section-event-detail-header {% if object.template.image %}section-event-detail-header_bd-image{% endif %}">
    {% thumbnail object.template.image.file "1366x196" crop='center' as im %}
    <div class="section-bg"
         style="background-image: url({{ im.url }});"></div>
    <div class="section-bg-overlay"></div>
    {% endthumbnail %}
    <div class="section-wrapper">
        <div class="container">
            <h1>{{ object.template.name }}</h1>
        </div>
    </div>
</section>
<section>
    <div class="section-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="mb-4">
                        <div class="h3">Описание мероприятия</div>
                        {{ object.template.description }}
                    </div>
                    {% if object.template.images.all|length > 1 %}
                    <div class="mb-4">
                        <div class="h3">Галерея</div>
                        <div class="owl-carousel">
                            {% for image in object.template.images.all %}
                                {% thumbnail image.file "240x159" crop='center' as im %}
                                <a class="fancybox"
                                    href="{{ image.file.url }}"
                                    title="{{ image.alt }}">
                                    <img src="{{ im.url }}"
                                         alt="{{ image.alt }}" />
                                </a>
                                {% endthumbnail %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="mb-4">
                        <div class="h3">Написать отзыв</div>
                        <div>
                            <form action=""
                                  method="POST">
                                {% csrf_token %}
                                {% for field in forms.feedback %}
                                    {% if field.is_hidden %}
                                        {{ field }}
                                    {% else %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {% render_field field class+="form-control" %}
                                        {% if field.help_text %}
                                        <span class="form-text text-muted">{{ field.help_text }}</span>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="form-group mb-0">
                                    <button class="btn btn-success btn-block" 
                                        type="submit"
                                        name="action"
                                        value="feedback">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="h3">Отзывы о мероприятии:</div>
                        <div>
                            {% for feedback in feedback_list %}
                            <div class="card mt-4">
                                <div class="card-body">
                                    {% if not feedback.show %}
                                    <p>Ваш отзыв на модерации</p>
                                    {% endif %}
                                    <h5 class="mt-0">{{ feedback.user.get_full_name }}</h5>
                                    <p>{{ feedback.created_at }}</p>
                                    <p class="my-0">{{ feedback.text }}</p>
                                </div>
                            </div>
                            {% empty %}
                            <p>Нет отзывов</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    {% if not user.is_authenticated %}
                    <p><a href="{% url 'registration_register' %}">Зарегестрируйтесь</a>, чтобы записаться на мероприятие.</p>
                    {% elif show_singup_form %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Записаться на мероприятие</h5>
                            <form action=""
                                  method="POST">
                                {% csrf_token %}
                                {% for field in forms.singup %}
                                    {% if field.is_hidden %}
                                        {{ field }}
                                    {% else %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {% render_field field class+="form-control" %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="form-group mb-0">
                                    <button class="btn btn-success btn-block" 
                                        type="submit"
                                        name="action"
                                        value="singup">Записаться</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% else %}
                    <p>Вы уже зарегестрированны на данное мероприятие</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}