{% extends 'base.html' %}
{% load static betterforms_tags thumbnail widget_tweaks %}


{% block content %}
<style>
.section-upcoming-events .tabs__navigation {
    background: #2f2f2f;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}
.section-upcoming-events .tabs__item {
    border-bottom: 1px solid #575757;
    padding: 25px 0;
}
.section-upcoming-events .tabs__item a:hover {
    text-decoration: none;
}
.section-upcoming-events .tabs__item:last-child {
    border-bottom: none;
}
.section-upcoming-events .tabs__item::after {
    display: block;
    content: "";
    clear: both;
}
.section-upcoming-events .tabs__item-date {
    background: #ff1949;
    color: #ffffff;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 5px 0;
    text-align: center;
    width: 115px;
}
.section-upcoming-events .tabs__item-day {
    font-weight: 600;
    display: block;
    font-size: 1.75em;
}
.section-upcoming-events .tabs__item-title {
    color: #ffffff;
    margin-left: 140px;
    margin-right: 25px;
}
.section-upcoming-events .tabs__item a:hover h4 {
    color: #ff1949;
}
.section-upcoming-events .tabs__item-title p {
    color: #aaaaaa;
    font-size: .9em;
    margin: 0;
}
.section-upcoming-events .tabs__panel {
    background-color: #aaaaaa;
    height: 100%;
    padding: 25px;
    position: relative;
}
.section-upcoming-events .tabs__panel:before {
    background: rgba(255, 255, 255, 0.6); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
.section-upcoming-events .tabs__panel-background {
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.tabs__panel-container {
    min-height: 380px;
}
.section-upcoming-events .tabs__panel-info {
    position: relative;
    z-index: 1000;
}
.section-upcoming-events .tabs__panel-title {
    bottom: 25px;
    color: #000000;
    display: block;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
    margin: 0;
    min-height: 96px;
    position: absolute;
    z-index: 105;
}
.card-event {
    border: none;
    border-radius: 0;
}
.card-event .card-body {
    position: relative;
    z-index: 100;
}
.card-body.card-body_white-text {
    color: #000000;
}
.card-event__background {
    background-position: center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.card-event__background:before {
    background: rgba(255, 255, 255, 0.6); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}
.card-event__short-description {
    min-height: 72px;
}
.section-events .section-wrapper {
    margin-bottom: -1.5rem !important;
}
.section-promo {
    margin-top: -72px;
}
.section-promo .section-wrapper {
    padding-top: 125px;
}
.promo {
    padding: 80px 0;
}
.promo a:hover {
    text-decoration: none;
}
.card-registration {
    background-color: rgba(255, 255, 255, 0.8);
}
</style>
<section class="section-promo">
    <div class="section-bg overlay-light"
         style="background-image: url({% static 'core/img/7f70092ccec4907d4874f318b2f389e7.jpg' %});"></div>
    <div class="section-wrapper">
        <div class="section-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="promo">
                            <div class="h1 font-weight-light">
                                {%  if not user.is_authenticated or not user.is_volunteer %}
                                Хочу сходить на экскурсию, и мне <br>
                                <a href="{% url 'registration_register' %}">нужна помощь</a>
                                {% endif %}&nbsp;
                            </div>

                            <div class="h1 font-weight-light mt-4">
                                {%  if not user.is_authenticated or user.is_volunteer %}
                                <a href="{% url 'registration_register' %}?is_volunteer=True">Пойдем со мной, я покажу...</a><br>
                                {% endif %}&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offset-md-2">
                    {% if not user.is_authenticated %}
                        <div class="card border-success card-registration">
                            <div class="card-body">
                                <form action="{% url 'registration_register' %}"
                                      method="post">
                                    {% csrf_token %}
                                    {% for field in forms.registration %}
                                    <div class="form-group">
                                        {% if field|is_checkbox %}
                                        <div class="custom-control custom-checkbox">
                                            {% render_field field class+="custom-control-input" %}
                                            <label class="custom-control-label"
                                                for="{{ field.auto_id }}">{{ field.label }}</label>
                                        </div>
                                        {% else %}
                                            {% render_field field class+="form-control form-control-sm" placeholder=field.label %}
                                        {% endif %}
                                        {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                    <div class="form-group mb-0">
                                        <button class="btn btn-success btn-block" 
                                            type="submit"
                                            name="action"
                                            value="registration">Зарегестрироваться</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="upcomingEvents" class="section-upcoming-events">
    <div class="section-wrapper">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header__text">Ближайшие мероприятия</h2>
            </div>
            <div class="section-body">
                <div class="tabs row">
                    <div class="col-4">
                        <ul class="tabs__navigation">
                            {% for event in upcoming_event_list %}
                            <li class="tabs__item">
                                <a href="#upcoming-event-{{ event.id }}">
                                    <div class="tabs__item-date">
                                        <span class="tabs__item-day">{{ event.datetime|date:"d" }}</span>
                                        {{ event.datetime|date:"N Y" }}
                                    </div>
                                    <div class="tabs__item-title">
                                        <h4>{{ event.template.get_type_display }}</h4>
                                        <p>{{ event.template.name }}</p>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tabs__panel-container col-8">
                        {% for event in upcoming_event_list %}
                        <div id="upcoming-event-{{ event.id }}"
                             class="tabs__panel">
                            {% if event.template.image %}
                                {% thumbnail event.template.image.file "730x384" crop='center' as im %}
                                <div class="tabs__panel-background"
                                    style="background-image: url({{ im.url }});"></div>
                                {% endthumbnail %}
                            {% endif %}
                            <div class="tabs__panel-info mt-4">
                                <div class="h5">
                                    {{ event.datetime|date:"d F Y г." }},
                                    {% if not event.time_by_agreement %}
                                        {{ event.datetime|date:"H:i" }}
                                    {% else %}
                                        время по договоренности
                                    {% endif %}
                                </div>
                                <div class="h5">Организатор: {{ event.user.get_full_name }}</div>
                            </div>
                            <a href="{% url 'event_detail' event.id %}">
                                <h3 class="tabs__panel-title font-weight-light">{{ event.template.name }}</h3>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="allEvents" class="section-events">
    <div class="section-wrapper">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header__text">Все мероприятия</h2>
            </div>
            <div class="section-body">
                <div class="row">
                    {% for event in event_list %}
                    <div class="col-md-6">
                        <div class="card card-event shadow mb-4">
                            {% if event.template.image %}
                                {% thumbnail event.template.image.file "560x210" crop='center' as im %}
                                <div class="card-event__background"
                                    style="background-image: url({{ im.url }});"></div>
                                {% endthumbnail %}
                            {% endif %}
                            <div class="card-body {% if event.template.image %}card-body_white-text{% endif %}">
                                <h4 class="card-title">{{ event.template.name }}</h4>
                                <p class="card-text">
                                    {{ event.template.get_type_display }}
                                    {{ event.datetime|date:"d F Y г." }}
                                    {% if not event.time_by_agreement %}
                                        {{ event.datetime|date:"H:i" }}
                                    {% else %}
                                        время по договоренности
                                    {% endif %}
                                </p>
                                <p class="card-text card-event__short-description">{{ event.template.short_description }}</p>
                                <div>
                                    <a class="btn btn-light border border-secondary"
                                       href="{% url 'event_detail' event.id %}">Посетить мероприятие</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}